.layout {
  display: flex;
  min-height: 100vh;
  background-color: #eeeeee;
}

.main {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}
