.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-default);
  padding-top: var(--topbar-height);
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}
