.content {
  text-align: center;
  padding: 16px 0;
}

.iconContainer {
  margin-bottom: 16px;
}

.icon {
  color: #ff9800;
}

.message {
  font-size: 16px;
  color: #212121;
  margin: 0 0 8px 0;
}

.warning {
  font-size: 14px;
  color: #757575;
  margin: 0;
}
